@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
:root{
  --color-dark:#2A2367;
  --color-accent:#6B5AF9;
}

body{
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}



.description__title_color-accent, .description__offer_color-accent, .description__text_color-accent{
  color: var(--color-accent);
}

 .header__section{
  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
}


.description__content{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.header__nav-list, .header-contacts{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  
  

}

.header__nav-item1{
  width: 41px;
}


img .header__nav-item2{
  width: 113px;
  margin: 0 66px 0 66px ;
}

.header__nav-item3{
  width: 52px;
  height: 32.5px;
  border-radius: 5px;
  background: var(--color-accent);
  background-image: url(../img/phone.png); 
  background-repeat: no-repeat;
  background-position: center;
  
}

.header__nav-item4, .header__nav-item5, .header__nav-item6, .header__nav-item7, .header-contacts{
  display: none;
}
.header__nav-item2:hover,
.header__nav-item3:hover{
  background-color: #FFC0CB;
}




.header__burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: scroll;
  top: 62px;
  left: 0;
  width: 360px;
  height: calc(100vh - 62px);
  background-color: #fff;
  z-index: 9999;
}

.header__close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.header__burger-list {
 
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 179px;
}

.header__burger-list li {
  padding: 28px;
  width: 161px; 
  text-align: center;
  
}

.header__burger-list a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  
  color: #2A2367;
}

.header__contact-info {
  list-style: none;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  
  color: #6B5AF9;
  
}

.header__contact-info a{
  text-decoration: none;
  font-family: Montserrat;
  font-size: 18px;
  padding: 28p 0px;
  font-weight: 700;
  color: #6B5AF9;
}

.header__contact-info li {
  
  text-align: center;
}
.header__contact-info li:first-child {
  margin-bottom: 32px;
}


.filter{
  position: fixed;
  top: 62px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 62px);
  background: rgba(163, 161, 161, 0.85);
  backdrop-filter: blur(2px);
 
  z-index: 9998;

}





.description__text-content{
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.description__title{
  font-size: 18px;
  font-weight: 700;
  
  margin-left: 9px;
  color: var(--color-dark);
  

}

.description__img2 {
  display: none;
}


.description__img img{
  width: 100%;
  
  
}

.description__offer{
  color: var(--color-dark);
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 50px;
  margin-left: 11px;
  
}

.description__offer .color-accent {
  font-weight: 700;
}

.description__btn{
  display: block;
  text-align: center;
  border-radius: 5px;
  background-color: var(--color-accent);
  padding: 22px 78px 23px 78px;
  color: #FFF;
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
  margin: 0 27px 9px 27px;
  
  
  
}


a:hover, button:hover{
background-color: #FFC0CB;
color: #000;
transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

 .description__text  {
  color: var(--color-dark);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 137.4%;
  margin: 0;
  
}
                                                                          /*768*/
@media (min-width: 768px) {
  .header{
    
    margin-left: 0;
    
  }

 
 .header__section{
  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.description__content{
  
  flex-direction: row;
  flex-wrap: wrap;
  
}

  .description__title h1{
    font-size: 24px;
    width: 50%;
    margin-bottom: -16px;
  
  
  }

  .description__offer{
    width: 80%;
    
  }
  .description__offer_color-accent{
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  }
  
 .header__nav-list{
  margin: 0 32px; 
  margin-bottom: 60px;
  
 } 
  


.description__text-content{
  width: 40%;
  margin-left: 11px;
  
  
  
}
.description__btn{
  margin-left: 0;
  margin-right: 0;
  padding: 22px 78px 23px 78px;
  text-align: center;
  text-wrap: nowrap;
  width: 30%;

  
  
}
.description__text{
  margin: 0;
  font-weight: 600;
  text-align: left;
  max-width: 90%;
  
}  
.description__img{
  display: none;
}
.description__img2 {
  display: flex;
   order: 2;
   width: 50%;
   
}

.description__img2 img{
 
  position: relative;
  width: 120%;
  top: -80px;
  left: -20px;
  z-index: -1;
  
  
 
}
}
                                                                  /*1280*/
@media (min-width: 1280px){
  .header{
  margin: 0 auto;
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
  margin-bottom: 90px;
  }

.header__section{
  width: 1280px;
  margin: 0 auto;
  
}

.description__content{
  margin: 0 auto;
  width: 1280px;
  align-items: center;
  justify-content: space-between;
}

.header__nav-list{
  
  margin: 0 auto;
  justify-content: flex-start;
  
  padding-bottom: 0;
  
  
}

.header__nav-list li{
  margin: 27px;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  padding-bottom: 0;
  
    
  
}

.header__nav-list a{
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 700;
  margin: 27px;
}

.header-contacts a{
  text-decoration: none;
  color: inherit;
}

.header__nav-item2{
  order: -1;
  
  margin-left: 0;
}
.header__nav-item1{
  display: none;
}

.header__nav-item3{
  display: none;
}

.header__nav-item4, .header__nav-item5, .header__nav-item6, .header__nav-item7{
  display: block;
  
}
.header-contacts{
  
  display: flex;
  align-items: center;
  justify-content: flex-end
  
  
}

.header-contacts__icons{
  width: 18px;
  height: 18px;
  text-wrap: nowrap;
  margin-right: 35px;
  
  
}


.header-contacts__text{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: flex-end;
}
.header-contacts__phone{
  font-size: 24px;
  font-weight: 800;
  
}

.header-contacts__schedule p{
  font-size: 12px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0;
  
}

.header-contacts__btn{
  width: 177px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--color-accent);
  color: #FFF;
  font-size: 12px;
  font-weight: 800;


}


.description__title {
  width: 653px;;
  font-size: 36px;
  font-weight: 700;
  
  
  
}


.description__offer{
  
  
  font-size: 16px;
  font-weight: 400;
  
  margin-left: 0;
  padding-bottom: 0;
  
}

.description__btn{
  margin-bottom: 20px;
}

.description__offer_color-accent{
  font-weight: 700;
  
}

.description__text{
  
  font-size: 14px;
}

.description__img2{
 
  position: relative;
  left: -30px;
  top: 0px;
  width: 50%;
}

.description__img2 img{
 
  
  width: 100%;
}

.filter, .header__burger-menu {
  display: none;
}
  
}