@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
:root{
  --color-dark:#2A2367;
  --color-accent:#6B5AF9;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.header__title_color-accent, .header__offer_color-accent, .header__text_color-accent{
  color: var(--color-accent);
}

 .header__section{
  width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
}


.header__content{
  margin: 0 auto;
  width: 340px;
}


.header__nav-list, .header-contacts{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  

}

.header__nav-item1{
  width: 41px;
}


img .header__nav-item2{
  width: 113px;
  margin: 0 66px 0 66px ;
}

.header__nav-item3{
  width: 52px;
  height: 32.5px;
  border-radius: 5px;
  background: var(--color-accent);
  background-image: url(../img/phone.png); 
  background-repeat: no-repeat;
  background-position: center;
  
}

.header__nav-item4, .header__nav-item5, .header__nav-item6, .header__nav-item7, .header-contacts{
  display: none;
}
.header__nav-item2:hover,
.header__nav-item3:hover{
  background-color: #FFC0CB;
}

.header__title{
  font-size: 18px;
  font-weight: 700;
  width: 327px;
  margin-left: 9px;
  color: var(--color-dark);

}

.header__img{
  display: flex;
  justify-content: flex-start;
  
  margin-left: 0;
  padding-bottom: 29px;
  
  width: 360px; /* Установите желаемую ширину обертки */
  overflow: hidden;
}

.header__img img{
  height: 100%;
  width: auto;
}

.header__offer{
  color: var(--color-dark);
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 50px;
  margin-left: 11px;
}

.header__offer .color-accent {
  font-weight: 700;
}

.header__btn{
  display: block;
  text-align: center;
  border-radius: 5px;
  background-color: var(--color-accent);
  padding: 22px 78px 23px 78px;
  color: #FFF;
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
  margin: 0 27px 9px 27px;
  
  
}


a:hover, button:hover{
background-color: #FFC0CB;
color: #000;
transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

 .header__text  {
  color: var(--color-dark);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 137.4%;
  margin: 0;
}

@media (min-width: 768px) {
  .header{
    
    margin-left: 0;
  }

 
 .header__section{
  width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header__content{
  margin: 0 auto;
  width: 768px;
  display: flex;
}

  .header__title{
    font-size: 24px;
    width: 620px;
  
  
  }

  .header__offer{
    width: 356px;
    
  }
  .header__offer_color-accent{
    font-weight: 700;
  }
  
 .header__nav-list{
  margin: 0;
  justify-content: space-around;
 } 
  


.header__text-content{
  order: -1;
  margin-left: 11px;
  width: 277px;
  
  
}
.header__btn{
  margin-left: 0;
  margin-right: 0;
  padding: 22px 78px 23px 78px;
  text-align: center;
  text-wrap: nowrap;
  
  
}
.header__text{
  margin: 0;
  font-weight: 600;
  text-align: left;
}  
.header__img{
  
  position: relative;
  width: 569px;
  top: -40px;
  left: 80px;
  
 
}
}

@media (min-width: 1280px){
  .header{
  margin: 0 auto;
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
.header__section{
  width: 1280px;
  margin: 0 auto;
}

.header__content{
  margin: 0 auto;
  width: 1280px;
  align-items: center;
  justify-content: space-between;
}

.header__nav-list{
  
  margin: 0 auto;
  justify-content: flex-start;
  
}
.header__nav-list li{
  margin: 27px;
  padding: 0;
  margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin: 27px;
  
}

.header__nav-list a{
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 700;
}

.header-contacts a{
  text-decoration: none;
  color: inherit;
}

.header__nav-item2{
  order: -1;
  margin-right: 34px;
  margin-left: 0;
}
.header__nav-item1{
  display: none;
}

.header__nav-item3{
  display: none;
}

.header__nav-item4, .header__nav-item5, .header__nav-item6, .header__nav-item7{
  display: block;
  
}
.header-contacts{
  
  display: flex;
  align-items: center;
  justify-content: flex-end
  
  
}

.header-contacts__icons{
  width: 18px;
  height: 18px;
  text-wrap: nowrap;
  margin-right: 35px;
  
  
}


.header-contacts__text{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: flex-end;
}
.header-contacts__phone{
  font-size: 24px;
  font-weight: 800;
  
}

.header-contacts__schedule{
  font-size: 12px;
  font-weight: 700;
  
}

.header-contacts__btn{
  width: 177px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--color-accent);
  color: #FFF;
  font-size: 12px;
  font-weight: 800;


}

.header__title{
  width: 653px;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 33px;
}
.header__offer{
  width: 619px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 116px;
  margin-left: 0;
}

.header__btn{
  margin-bottom: 20px;
}

.header__offer_color-accent{
  font-weight: 700;
}

.header__text{
  width: 472px;
  font-size: 14px;
}

.header__img img{
  width: 855px;
  
}
  
}